@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --font-primaria: 'Dancing Script', Verdana;
    --cor-primaria: #350053;
    --cor-secundaria: #bbcad8;
    --cor-botoes: rgba(21, 46, 119, 0.575);
    --hover: rgba(54, 74, 141, 0.888);
    --cor-span: #9a3cba;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    background-color: var(--cor-primaria);
    font-family: var(--font-primaria);

    color: var(--cor-secundaria);
    width: 100%;
    height: 100vh;
}
span{
    color: var(--cor-span);
}
.box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.titulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-primaria);
    font-size: 2rem;
}
.titulo button {
    background-color: var(--cor-primaria);
    outline: none;
    border: none;
}
.titulo button i {
    font-size: 2rem;
    color: var(--cor-span);
}
.titulo button i:hover {
    color:var(--cor-secundaria)
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 10px;
}
.image {
    width: 100%;
}
.image img {
    width: 100%;
    height: 80vh;
}
.form {
    width: 100%;
    margin: 0px 20px;
}
.input-box {
    display: flex;
    position: relative;
    flex-direction: column;
}
.input {
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 15px;
    outline: none;
}
a, .button{
    text-decoration: none;
    color: var(--cor-secundaria);
    background-color: rgba(35, 66, 155, 0.575);
    padding: 10px 20px;
    border-radius: 15px;
}
a:hover, .button:hover {
    background-color: rgba(35, 68, 177, 0.888);
}